/* Reset básico para remover margens padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: rgb(70, 177, 46);
  border-bottom: 1px solid #eaeaea;
  font-family: Arial, Helvetica, sans-serif;
}


.nav-links ul{
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
  transition: color 0.3 ease; 
}

.nav-links a:hover{
  color: #000;
}
