/* =========================
   Reset básico
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* =========================
   Navbar
========================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 72px;
  padding: 0px 32px;

  background-color: rgb(249, 247, 126);
  border-bottom: 1px solid #eaeaea;

  font-family: Arial, Helvetica, sans-serif;
}


/* =========================
   Logo
========================= */
.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-integra {
  width: 240px;     /* controle principal do tamanho */
  transform: translate(2px);
}


/* =========================
   Links de navegação
========================= */
.nav-links ul {
  list-style: none;
  display: flex;
  gap: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-links a {
  text-decoration: none;
  color: #0e81fc;
  font-size: 16px;
  transition: color 0.3s ease; /* corrigido (faltava o 's') */
}

.nav-links a:hover {
  color: #08850e;
}
